@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager 

    <span class="nav-item active text-danger my-lg-0">
        <button class="btn btn-link" href="/home" @onclick="LogOut">Logout</button>
    </span>

@code {
    private async Task LogOut()
    {
        await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "aId");
        NavManager.NavigateTo("", forceLoad: true);
    }
}
